<!DOCTYPE html>
<html lang="en" ng-app="practiceApp">
<head>
  <meta charset="UTF-8">
  <title>Angular Practice</title>
  <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css">
</head>
<body>

<div ng-view></div>

<script src="../node_modules/angular/angular.js"></script>
<script src="../node_modules/angular-route/angular-route.js"></script>
<script src="public/javascripts/app.js"></script>
<script src="public/javascripts/board.js"></script>
<script src="public/javascripts/create-board.js"></script>
<script src="public/javascripts/date.format.js"></script>

</body>
</html>